All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
<% end %>

<p>Create contact for <%= @company.name %></p>
<%= render partial: 'contact' %>

<h3>Contact Information</h3>
<% @company.contacts.each do |contact| %>
<ul>
  <li><%= contact.name %></li>
  <li><%= contact.email %></li>
  <li><%= contact.title %></li>
</ul>
<% end %>
